@use '../../styles/styles.scss' as *;

button {
	cursor: pointer;
	font-family: Montserrat;
}

.btn,.btn-outline {
	border: 4px solid transparent;
	background-color: $brand-main-clr;
	color: $txt-clr;
	border-radius: $border-radius;
	padding: 0.5rem 1.8rem;
	font-size: 1.5rem;
	font-weight: 600;
	box-shadow: 0px 0px 7px 8px #F07F334d;
	transition: box-shadow 0.3s ease;
	position: relative;
	&:hover {
		box-shadow: 0px 0px 7px 15px #F07F334d;
	}
    &.small{
        border-width: 2px;
        padding: 0.25rem 1.5rem;
        font-size: 1rem;
    }
}
.btn-outline {
	border: 3px solid $txt-clr;
	background-color: transparent;
	color: $txt-clr;
	box-shadow: unset;
	transition: color 0.3s ease, background-color .3s ease;
	&:hover {
		box-shadow: unset;
        color: $brand-main-clr;
        background-color: $txt-clr;
	}
}
