// COLOR PALETTE
$body-bg: #0f0f0f;
$brand-main-clr: #D90A8D;
$brand-sec-clr: #F07F33;
$main-clr: #ff0000;
$txt-clr: #ffffff;

// BOX
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$border-radius: 30px;

// LAYOUT
$layout-padding: 20px;
$header-height: 8rem;
$header-shrink-height: 5rem;

// LAYOUT BREAKPOINTS
$mobile-width: 600px;
$tablet-width: 1024px;